/* Reset default margin and padding */
body {
  margin: 0;
  padding: 0;
}

/* Top left design */
/* This is triangle color */
.triangle {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  border-top: 150px solid transparent; /* Increase size for A4 compatibility */
  border-right: 150px solid transparent; /* Increase size for A4 compatibility */
  border-bottom: none; /* Remove border-bottom */
  border-left: none; /* Remove border-left */
  border-top-color: #ff5733; /* Orange color, adjust as needed */
}

/* Top right logo and name */
.logo-container {
  position: absolute;
  top: 0;
  right: 0;
  padding: 20px;
}

.logo {
  max-width: 150px; /* Increase size for A4 compatibility */
}

/* Container for all tables */
.tables-container {
  width: 90%; /* Adjust the width as needed */
  margin: 0 auto; /* Center the container horizontally */
}

/* Table styling */
.invoice-table {
  width: 100%;
  border-collapse: collapse;
}

th,

/* This is table border color */
td {
  border: 1px solid #ddd;
  padding: 12px; /* Increase padding for better readability */
  text-align: left;
}

/* This is table header color */
th {
  background-color: #56adb5;
}

/* Footer section */
.footer {
  margin-top: 50px;
}

/* Subtotal table alignment */
.subtotal-container {
  float: right;
  margin: 20px; /* Adjust margin as needed */
}

.subtotal-table {
  border-collapse: collapse;
}

.subtotal-table td {
  border: 1px solid #ddd;
  padding: 8px;
}

/* Disclaimer */
.disclaimer {
  clear: both;
  text-align: center;
  font-style: italic;
}


/* Thank you message */
.thank-you {
  text-align: center;
  margin-top: 20px;
}



